@import '../../sass/colors.scss';
@import '../../sass/fonts.scss';

.card-service {
  background-color: $white;
  margin: 1.5em 0;
  .link-service {
    text-align: center;
    display:block;
    height: 125px;
    background:$green;
  }
  .thumb-service {
    margin:30px auto;
    padding:0;
    max-width: 95px;
    max-height: 65px;
  }

  h1 {
    font-size: 1.2rem;
    text-transform: none;

    &:hover {
      color: $green;
    }
  }
  .page-description {
    font-size: .9rem;
  }

  .link-more {
    color: $orange;
    text-transform: uppercase;
    font-weight: bold;
    font-size:.8rem;
    margin-top:.3rem;
    display: inline-block; 
    &:hover {
      text-decoration: underline;
    }
  }

  .link-service {
    display:flex;
    align-items:center;
    align-content:center;
    width:100%;
    height:125px;
    font-size:.9rem;
    text-transform: uppercase;
    background:$gray;
    color:$white;
    text-align: center;

    .link-service-content {
      display:block;
      margin:0 auto;
    }

    .fa {
      color: $green;
      font-size:32px;
    }

    &:hover {
      color:$green;

      .fa {
        animation: wobble 0.5s;
      }
    }

    .service-title {
      font-size:14px;
      margin:0;
    }
  }
}
