// Colors
//
// Grayscale and brand colors for use across Bootstrap.

// Start with assigning color names to specific hex values.
//
// Color system
//
@import './colors.scss';

// Reassign color vars to semantic color scheme
$theme-colors: (
    primary: $orange,
    secondary: $gray-600,
    success: $green,
    info: $cyan,
    warning: $yellow,
    danger: $red,
    light: $gray-100,
    dark: $gray-800
  )
  !default;

// Options
//
// Quickly modify global styling by enabling or disabling optional features.
$enable-rounded: true !default;
$enable-shadows: false !default;
$enable-gradients: false !default;
$enable-transitions: false !default;
$enable-hover-media-query: false !default;
$enable-grid-classes: true !default;
$enable-print-styles: true !default;

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$blog-container-max-widths: (sm: 540px, md: 640px, lg: 740px, xl: 910px) !default;

// Body
//
// Settings for the `<body>` element.

$body-bg: $white !default;
$body-color: $gray-700 !default;
$inverse-bg: $gray-900 !default;
$inverse-color: $gray-600 !default;

// Links
//
// Style anchor elements.
$link-decoration: none !default;
$link-hover-decoration: none !default;

// Fonts
//

// Fonts
//
@font-face {
  font-family: 'ubunturegular';
  src: url('../fonts/ubuntu/ubuntu-r-webfont.woff2') format('woff2'),
       url('../fonts/ubuntu/ubuntu-r-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'geomanistlight';
  src: url('../fonts/geomanist/geomanist-light-webfont.eot');
  src: url('../fonts/geomanist/geomanist-light-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/geomanist/geomanist-light-webfont.woff2') format('woff2'),
       url('../fonts/geomanist/geomanist-light-webfont.woff') format('woff'),
       url('../fonts/geomanist/geomanist-light-webfont.ttf') format('truetype'),
       url('../fonts/geomanist/geomanist-light-webfont.svg#geomanistregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
font-family: 'geomanistbook';
src: url('../fonts/geomanist/geomanist-book-webfont.eot');
src: url('../fonts/geomanist/geomanist-book-webfont.eot?#iefix') format('embedded-opentype'),
url('../fonts/geomanist/geomanist-book-webfont.woff2') format('woff2'),
url('../fonts/geomanist/geomanist-book-webfont.woff') format('woff'),
url('../fonts/geomanist/geomanist-book-webfont.ttf') format('truetype'),
url('../fonts/geomanist/geomanist-book-webfont.svg#geomanistregular') format('svg');
font-weight: normal;
font-style: normal;
}

@font-face {
  font-family: 'geomanistmedium';
  src: url('../fonts/geomanist/geomanist-medium-webfont.eot');
  src: url('../fonts/geomanist/geomanist-medium-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/geomanist/geomanist-medium-webfont.woff2') format('woff2'),
       url('../fonts/geomanist/geomanist-medium-webfont.woff') format('woff'),
       url('../fonts/geomanist/geomanist-medium-webfont.ttf') format('truetype'),
       url('../fonts/geomanist/geomanist-medium-webfont.svg#geomanistregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
font-family: 'geomanistbold';
src: url('../fonts/geomanist/geomanist-bold-webfont.eot');
src: url('../fonts/geomanist/geomanist-bold-webfont.eot?#iefix') format('embedded-opentype'),
url('../fonts/geomanist/geomanist-bold-webfont.woff2') format('woff2'),
url('../fonts/geomanist/geomanist-bold-webfont.woff') format('woff'),
url('../fonts/geomanist/geomanist-bold-webfont.ttf') format('truetype'),
url('../fonts/geomanist/geomanist-bold-webfont.svg#geomanistregular') format('svg');
font-weight: bold;
font-style: normal;
}

@import './fonts.scss';


@import 'node_modules/bootstrap/scss/bootstrap.scss';

html,
body {
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
}

p {
  margin-bottom: 1.6em;
}

a, a h1 {
  transition:color .3s ease-out, background 3s ease-in;
}
img {
  padding-bottom: 10px;
  margin-bottom: 1.6em;
  max-width: 100%;
}

// img:hover {
//   animation: pulse 0.5s;
// }

h1,
h2,
h3,
h4 {
  font-family: 'geomanistmedium';
  font-weight: normal;
  line-height: 1.2;
}

h1 {
  color: $gray;
  font-size: 1.8rem;
  text-transform: uppercase;
  margin: 0.1rem 0 0.5rem;

  &.underlined {
    text-transform: uppercase;
    width: auto;
    display: inline-block;
    margin-bottom: 1em;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: 40px;
      height: 2px;
      display: block;
      bottom: -8px;
      right: 1px;
      border-bottom: 4px solid $orange;
    }
  }
}

h2 {
  font-size: 1.6rem;
  color: $brown;
}
.text-white h2, .bg-gray h3 { 
  color:$white;
}

h3 {
  color: $gray;
  font-size: 1.3rem;
}

// accordion for faq
.accordion {
  & > ul li i:before, & > ul li i:after {
    transition: all 0.25s ease-in-out;
  }
  & > ul {
    list-style: none;
    padding: 0;
    margin: 0;
    & > li {
      position: relative;
      padding: 0;
      margin: 0;
      padding-bottom: 4px;
      padding-top: 18px;
      border-top: 1px dotted $orange;
      & i{
        position: absolute;
        transform: translate(-6px, 0);
        margin-top: 2px;
        right: 5px;
        &:before,&:after {
          content: "";
          position: absolute;
          background-color: $brown;
          width: 3px;
          height: 16px;
        }
        &:before {
          transform: translate(2px, 0) rotate(45deg);
        }
        &:after {
          transform: translate(2px, 0) rotate(-45deg);
        }
      }
      & input[type=checkbox] {
        position: absolute;
        cursor: pointer;
        width: 100%;
        height: 2em;
        z-index: 1;
        opacity: 0;
        right: -5px;
        &:checked ~ p {
          margin-top: 0;
          max-height: 0;
          opacity: 0;
          padding: 0;
          transform: translate(0, 50%);
        }
        &:checked ~ i:before {
          margin-top: 9px;
          height: 9px;
          transform: translate(2px, 0) rotate(45deg);
        }
        &:checked ~ i:after {
          margin-top: 9px;
          height: 9px;
          transform: translate(-2px, 0) rotate(-45deg);
        }
      }
    }
  }
  h3 {
    color:$brown;
  }
  .faq-content {
    margin-bottom: .5em;
    // background: $gray-100; 
    padding:1em;
    // border-radius: 1em;
  }
}

.services {
  padding:1.5em 0;
  margin-bottom:3em;
  background:$gray-200;
  // background: linear-gradient(90deg, $gray-200, $gray-200, $pink, $yellow, $yellow);
  // background-size: 600% 600%;
  
  // -webkit-animation: AnimationName 15s ease infinite;
  // -moz-animation: AnimationName 15s ease infinite;
  // -o-animation: AnimationName 15s ease infinite;
  // animation: AnimationName 15s ease infinite;
  
  // @-webkit-keyframes AnimationName {
  //     0%{background-position:0% 63%}
  //     50%{background-position:100% 38%}
  //     100%{background-position:0% 63%}
  // }
  // @-moz-keyframes AnimationName {
  //     0%{background-position:0% 63%}
  //     50%{background-position:100% 38%}
  //     100%{background-position:0% 63%}
  // }
  // @-o-keyframes AnimationName {
  //     0%{background-position:0% 63%}
  //     50%{background-position:100% 38%}
  //     100%{background-position:0% 63%}
  // }
  // @keyframes AnimationName {
  //     0%{background-position:0% 63%}
  //     50%{background-position:100% 38%}
  //     100%{background-position:0% 63%}
  // }
}

.articles, .questions {
  margin-bottom:5em;
  padding-top: 0em; 
}

.btn-primary {
  text-transform: uppercase;
  color:$white;
}

.photo {
  .gatsby-resp-image-wrapper {
    margin-top:2rem;
  }
  img, .gatsby-resp-image-background-image {
    border-radius: 50%;
    box-shadow: none !important;
    height:auto !important;
  }
}

.bg-gray {
  background-color: $gray;

  .fa {
    color: $blue;
  }
}

#free-software {
  .lead li {
    margin: 1em auto;
  }
} 

#educ-pop {
  padding: 11em 0 0 0 !important;
  min-height: 800px;
  color:$white;

  .section-heading {
    margin-top: 1em ;
  }
}
section {
  padding: 30px 0 !important;
}
.oasis {
  margin-top:3em;
  background: $gray-200;
  padding-bottom: 3em;
}
.oasis::before {
  content: '';
  position: absolute;
  height: 20em;
  background: #fff;
  width: 100%;
}
.oasis::after {
  content: '';
  position: relative;
  clear: both;
  display:table;
  width: 100%;
}

.oasis .grid {
  clear: both;
  display: flex;
  flex-wrap: wrap;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fill,minmax(280px,1fr));
  grid-auto-rows: minmax(300px,auto);
}

.card-oasis {
  &:hover .description {
    margin-top:0;
  }

  background: white;
  border-radius:4px;
  margin-left: 5px;
  margin-right: 5px;
  flex: 1 1 200px;
  position: relative;
  height:330px;

  .moving-group {
    height:300px;    
    overflow: hidden;
  }

  .title {
    text-align: right;
    width: 100%;
    color:$gray;
    padding-right: .33em;
  }
  .departement {
    color:$red;
      font-family: 'geomanistbold';
      margin: .5em;
      text-transform: uppercase;
      text-align: right;
  }
  .description {
    text-align: justify;
    color:$gray;
    transition: margin .3s ease;
    height: 195px;
    margin: -195px .5em .5em .5em;
    display: flex;
    align-items: center;
  }
  .group-sticky {
    position: relative;
    height: 30px;

    .avancement {
      font-family: 'geomanistmedium';
      font-size: 13px;
      line-height: 2em;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 65%;
      height: 30px;
      background:$yellow;
      color: #fff;
      border: none;
      display: inline-block;
      text-align: center;
      border-bottom-left-radius: 4px;
    }
    .financed {
      background-color: $green;
    }

    .montant {
      font-family: 'geomanistmedium';
      font-size: 13px;
      line-height: 2em;
      position: absolute; 
      bottom: 0;
      right: 0;
      width: 35%;
      height: 30px;
      background:$blue;
      color: #fff;
      border: none;
      display: inline-block;
      text-align: center;
      border-bottom-right-radius: 4px;
    }
  }
}