@import '../../sass/colors.scss';
@import '../../sass/fonts.scss';

.logo, .navbar-brand img {
    width:180px;
    margin: 0;
    padding: 0;
}

.navbar-nav {
    font-family: 'geomanistmedium';

    li {
        position: relative;
    }

    li.active::after {
        content:'';
        position: absolute;
        width:20px;
        height:2px;
        display:block;
        bottom: 5px;
        right: 1.5rem;
        border-bottom: 3px solid $orange;
    }

    a {
        color:$gray;
        text-transform: uppercase;
        transition:color .3s ease-out, background 3s ease-in;
        font-size: .9rem;

        &:hover {
            color:$orange;
        }
    }
}

@media screen and (max-width:990px) {
    .logo { width:100%; }
    .navbar-nav-scroll { 
        display: none;
    }
    .navbar-nav-scroll.show {
        display: block;
        width:100%;

        .navbar-nav {
            display: block;
        }
        li {
            display: block;
            margin:1px 0;
            background-color: $orange;
            color:$white;
            a {
                color: $white;

                &:hover {
                    background-color: $gray;
                }
            }

            &:hover {
                background-color: $gray;
            }
        }
    }

}