@import '../../sass/colors.scss';
@import '../../sass/fonts.scss';

.card-article {
  background-color: $gray-200;
  margin-bottom: 20px;
  .thumb-article {
    margin:0;
    padding:0;
  }

  h1 {
    font-size: 1.4rem;
    margin-bottom:.1rem;
    &:hover {
      color: $orange;
    }
  }

  time {
    font-size: $font-size-xs;
    color: $gray-500;
    margin-top: .3rem;
    margin-bottom: .7rem;
    line-height: 1em;
    display: block;
  }

  .link-more {
    color: $orange;
    text-transform: uppercase;
    font-weight: bold;
    font-size:.9rem;
    margin-top:.5rem;
    display: inline-block; 
    &:hover {
      text-decoration: underline;
    }
  }
}
