@import '../../sass/colors.scss';
@import '../../sass/fonts.scss';

.footer {
  background: $gray-200;
  color: $gray;
  padding:2em 0;

  h2, a {
    color:$gray;
  }

  .menu {
    padding:0;
    margin:0;
    list-style: none;

    li {
      padding:0;
      margin:.4rem 0;
      font-size: .9rem;
    }
  }
  .logo-right {
    margin-bottom: 0;
  }
  .cc-link {
    display: block;
    .cc-img {
      margin-bottom: 0;
      width:110px;
    }
  }
}
